
/* CONTACTME */
.contactme-title {
    font-size: 54pt;
    text-align: center;
    color: var(--oat);
}

.contactme-container {
    height: 100vh;
    align-items: center;
}

.contactme-subcontainer {
    width: 56%;
}

.contactme-header {
    margin-bottom: 30px;
}

    .contactme-header img {
        position: absolute;
        width: 15%;
        top: 453%;
        left: 51.5%;
    }

.contactme-container hr {
    border: 1px solid var(--tan);
}

.contactme-group {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}

.contactme-frame {
    background-color: var(--oat);
    display: flex;
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
}

.contactme-item {
    color: var(--oat);
    display: flex;
    font-family: Carlito, Tahoma;
    font-size: 14pt;
    margin: 1%;
    border: 2px solid var(--tanOpacity);
    padding: 11px;
    border-radius: 10px;
}

    .contactme-item img {
        height: 30px;
        object-fit: contain;
    }

    .contactme-item a {
        text-decoration: none;
        color: var(--oat);
        font-style: italic;
    }

#secondaryImgFrame {
    width: 32px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

#secondaryImg {
    height: 16px;
    object-fit: contain;
}

/* Mobile devices */
@media (max-width: 480px) {
}

/* Tablets */
@media (min-width: 481px) and (max-width: 768px) {
}

/* Small screens and laptops */
@media (min-width: 769px) and (max-width: 1024px) {
}

/* Laptop L and extra large screen */
@media (min-width: 1025px) {
}