
/* CONTACTME */
.contactme-title {
    font-size: 3.7vw;
    text-align: center;
    color: var(--oat);
}

.contactme-container {
    height: 97.2vh;
    align-items: center;
}

.contactme-subcontainer {
    width: 60%;
}

.contactme-header {
    margin-bottom: 5%;
    position: relative;
    width: 90%;
    margin: auto;
    margin-bottom: 3%;
}

    .contactme-header img {
        position: absolute;
        width: 26%;
        top: 45%;
        left: 53%;
    }

    .contactme-header h1 {
        font-size: 3.6vw;    
    }

.contactme-container hr {
    border: 1px solid var(--tan);
}

.contactme-group {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}

.contactme-frame {
    background-color: var(--oat);
    display: flex;
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
}

.contactme-item {
    color: var(--oat);
    display: flex;
    font-family: Carlito, Tahoma;
    font-size: 1vw;
    margin: 1%;
    border: 2px solid var(--tanOpacity);
    padding: 1%;
    border-radius: 10px;
}

    .contactme-item img {
        height: 30px;
        object-fit: contain;
    }

    .contactme-item a {
        text-decoration: none;
        color: var(--oat);
        font-style: italic;
    }

#secondaryImgFrame {
    width: 32px;
    height: 20px;
    display: flex;
    justify-content: center;
    padding-top: 2%;
}

#secondaryImg {
    height: 16px;
    object-fit: contain;
}

.footer {
    text-align: center;
    color: var(--oat);
    font-family: Carlito, Tahoma;
    font-size: 1vw;
}

#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

/* Mobile devices */
@media (max-width: 480px) {
}

/* Tablets */
@media (min-width: 481px) and (max-width: 768px) {
}

/* Small screens and laptops */
@media (min-width: 769px) and (max-width: 1024px) {
    .contactme-frame {
        height: 30px;
        width: 30px;
        margin-right: 5px;
    }
    .contactme-item img {
        height: 20px;
    }
    #secondaryImg {
        height: 10px;
    }
}

/* Laptop L and extra large screen */
@media (min-width: 1025px) {
}