.skills-results {
    clear: both;
    margin-top: 4%;
    max-height:56%;
    overflow-y: scroll;
}

.skills-chips {
    margin-top: 2%;
}

.skills-header {
    position: relative;
}

    .skills-header img {
        position: absolute;
        width: 18%;
        top: 43%;
        left: 45%;
        z-index: 1;
    }

    .skills-header h1 {
        color: var(--brown);
        text-align: center;
        font-size: 5vw;
        z-index: 0;
    }

/* Mobile devices */
@media (max-width: 480px) {
    .skills-header img {
        width: 40%;
        top: 53%;
        left: 45%;
    }

    .skills-header h1 {
        font-size: 14vw;
        z-index: 0;
    }

    .skills-results {
        max-height: 78%;
    }

    .skills-chips {
        display: none !important;
    }

    #skills input[inputmode=text] {
        font-size: 2.2vh !important;
        padding: 10px 3px 10px 6px;
    }
}

/* Tablets */
@media (min-width: 481px) and (max-width: 768px) {

    #skills .mud-chip {
        height: 20px !important;
        padding: 10px 15px 10px 10px;
    }

    #skills .mud-icon-root {
        height: 0.7em !important;
    }

    #skills .mud-chip p {
        font-size: 2.2vh !important;
    }

    #skills input[inputmode=text] {
        font-size: 2.2vh !important;
        padding: 10px 3px 10px 6px;
    }

    .skills-results {
        max-height: 59%;
    }
}

/* Small screens and laptops */
@media (min-width: 769px) and (max-width: 1024px) {

    #skills input[inputmode=text] {
        font-size: 100% !important;
        padding: 10px 3px 10px 6px;
    }

    #skills .mud-chip {
        height: 20px !important;
        padding: 10px 15px 10px 10px;
    }

    #skills .mud-icon-root {
        height: 0.7em !important;
    }

    #skills .mud-chip p {
        font-size: 2vh !important;
    }
}

/* Laptop L and extra large screen */
@media (min-width: 1025px) {

}

@media (min-width: 1440px) {
    .skills-results {
        margin-top: 4%;
    }
}


@media (min-width: 1920px) {
    .skills-results {
        margin-top: 4%;
        max-height: 66%;
    }
}