@inherits LayoutComponentBase
@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />
<div class="page bg-oat">
    <main>
        @* <div class="top-row" style="position: absolute">
            <NavMenu />
        </div> *@

        <article class="content">
            @Body
        </article>
    </main>
</div>
