@inherits LayoutComponentBase
<div class="page bg-oat">
    <main>
        <div class="top-row">
            <NavMenu />
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>
