@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a href="#aboutme">About Me</a>
        <a href="#skills">Skills</a>
        <a href="#projects">Projects</a>
        <a href="#contactme">Contact Me</a>
    </div>
</div> *@

<nav>
    <div class="logo">
        <img src="icon-192.png" width="75" />
    </div>
    <div>
        <ul class="nav links">
            <li><a href="#aboutme">ABOUT ME</a></li>
            <li><a href="#skills">SKILLS</a></li>
            <li><a href="#projects">PROJECTS</a></li>
            <li><a href="#contactme">CONTACT ME</a></li>
        </ul>
    </div>
</nav>