<div class="boxinfosimple-item d-flex">
    <div class="boxinfosimple-frame">
        <img src="@ImgPath" />
    </div>
    <div>
        <span class="boxinfosimple-item-name">@Name</span><br />
        <span class="boxinfosimple-item-status">@Caption</span>
    </div>
</div>