<div class="boxinfosimple-item d-flex">
    <img src="@ImgPath" />
    <div>
        <span class="boxinfosimple-item-name">@Name</span><br />
        <span class="boxinfosimple-item-status">@Caption</span>
    </div>
</div>