
.aboutme-title {
    font-style: italic;
    color: var(--brown);
    /*font-size: 65pt;
    margin-bottom: 10px;*/
}

.aboutme-sub-container {
    width: 80%;
}

.aboutme-img img {
    /*width: 400px;
    height: 450px;*/
    object-fit: contain;
    border-radius: 47% 47% 0 0;
}

.aboutme-desc {
    /*font-size: 16pt;*/
    text-align: justify;
}

.aboutme-mark {
    position: absolute;
    transform: translateY(100%);
    /*top: 107.5%;
    left: 9.7%;
    width: 13%;*/
}

/* Mobile devices */
@media (max-width: 480px) {
    .aboutme-sub-container {
        flex-wrap: wrap;
    }

    .aboutme-title {
        font-size: 10vw;
        margin-bottom: 1vh;
    }

    .aboutme-highlight {
        flex-wrap: wrap;
    }

    .aboutme-img img {
        width: 200px;
        height: 250px;
        margin-top: 10%;
        /*margin-left: 10px;*/
    }

    .aboutme-desc {
        font-size: 1.2vh;
        margin-top: 10px;
    }

    .aboutme-mark {
        top: 100%;
        left: 9%;
        width: 27%;
    }
}

/* Tablets */
@media (min-width: 481px) and (max-width: 768px) {
    .aboutme-title {
        font-size: 5vw;
        margin-bottom: 1vh;
    }

    .aboutme-img img {
        width: 200px;
        height: 250px;
        margin-left: 10px;
    }

    .aboutme-desc {
        font-size: 2vh;
    }

    .aboutme-mark {
        top: 109%;
        left: 9%;
        width: 14%;
    }
}

/* Small screens and laptops */
@media (min-width: 769px) and (max-width: 1024px) {
    .aboutme-title {
        font-size: 5vw;
        margin-bottom: 1vh;
    }

    .aboutme-img img {
        width: 300px;
        height: 350px;
    }

    .aboutme-desc {
        font-size: 2vh;
    }

    .aboutme-mark {
        top: 109%;
        left: 9%;
        width: 14%;
    }
}

/* Laptop L and extra large screen */
@media (min-width: 1025px) {
    .aboutme-title {
        font-size: 5vw;
        margin-bottom: 1vh;
    }

    .aboutme-img img {
        width: 400px;
        height: 450px;
    }

    .aboutme-desc {
        font-size: 2.2vh;
    }

    .aboutme-mark {
        top: 104%;
        left: 9%;
        width: 14%;
    }
}

@media (min-width: 1440px) {
    .aboutme-mark {
        top: 108%;
    }
}


@media (min-width: 1920px) {
    .aboutme-mark {
        top: 107%;
    }
}