/* ROOT */
.container-maxvh {
    height: 90vh;
}

.gotolink {
    height: 10vh;
    text-align: center;
}

    .gotolink a {
        text-decoration: none;
        font-family: Radley, Tahoma;
        font-style: italic;
        color: var(--brown);
        font-size: 1.2vw;
    }

@media (max-width: 480px) {
    .gotolink {
        height: 5vh;
    }

        .gotolink a {
            font-size: 5vw;
        }
}

/* COMPONENT : IMS (INPUT MULTI SELECT) */
.my-ims-container {
    min-width: 12%;
    margin: 0px 20px 0 0;
}

    .my-ims-container .mud-input-control {
        background-color: var(--white);
    }

/* COMPONENT : BOX INFO */
.box-info {
    border: 1px solid var(--black);
    text-align: center;
    width: 50%;
    margin: 10px;
    padding: 10px;
    font-size: 16pt;
}

.box-first {
    margin-left:0;
}

.box-last {
    margin-right: 0;
}

.box-info-title {
    font-weight: bold;
}


/* COMPONENT : CardInfo */
.cardinfo-item {
    font-family: Radley, Tahoma;
    text-align: center;
    margin: 10px;
}
.cardinfo-item-title {
    font-style: italic;
    font-size: 16pt;
}
.cardinfo-item img {
    width: 400px;
    height: 300px;
    object-fit: cover;
}
    .cardinfo-item img:hover {
        /*cursor: zoom-in;*/
    }
.cardinfo-buttons {

}
    .cardinfo-buttons a {
        margin: 5px;
        padding: 5px;
        color: var(--black);
        border: 2px solid var(--black);
        background-color: var(--oat);
    }

        .cardinfo-buttons a:hover {
            background-color: var(--taupe);
            color: var(--white);
        }

        .cardinfo-buttons a:active {
            background-color: var(--darkbrown);
        }

    .cardinfo-buttons button {
        font-family: Carlito, Tahoma;
        font-size: 14pt;
        font-weight: bold;
    }

/* COMPONENT : BoxInfoSimple */
.boxinfosimple-item {
    margin: 8px;
    padding: 10px;
    width: 25%;
    border: 2px solid #1e1815;
    background-color: white;
    border-radius: 6px;
}

.boxinfosimple-item-name {
    font-weight: bold;
    font-size: 20pt;
}

.boxinfosimple-item-status {
    font-size: 14pt;
}
.boxinfosimple-frame {
    background-color: var(--brown);
    display: flex;
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
}
    .boxinfosimple-frame img {
        height: 30px;
        object-fit: contain;
    }
/* COMPONENT : CHIP INFO */
.chip-info {
    /*background-color: var(--brown);*/
    border: 2px solid var(--black);
    width: fit-content;
    min-width: 100px;
    text-align: center;
    border-radius: 20px;
    margin: 20px 10px 0 0;
    padding-right: 15px;
    font-weight: bold;
    font-size: 18pt;
}
    .chip-info:hover {
        background-color: var(--taupe) !important;
        color: var(--white) !important;
    }

    .chip-info:hover, .chip-info > label:hover {
        cursor: pointer;
    }

    .chip-info-checked {
        background-color: var(--brown);
        color: var(--white);
    }

.chip-info-cb {
    visibility: hidden;
}

/* UNCATEGORIZED */
#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.footer {
    text-align: center;
    color: var(--oat);
    font-family: Carlito, Tahoma;
}