.profile-img {
    overflow: hidden;
    position: relative;
    margin-right: 20px;
}

    .profile-img img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 50%;
    }

.profile-highlight {
    color: var(--brown);
}

.profile-desc {
    text-align: center;
    margin-top: 3vh;
}

    .profile-desc span {
        color: var(--brown);
        font-weight: bold;
    }

.profile-buttons {
    margin-top: 2vh;
}

.profile-header {
    position: relative;
}

    .profile-header img {
        position: absolute;
        width: 33%;
        transform: translateY(-50%);
        top: 39%;
        left: 54%;
        z-index: 1;
    }

    .profile-header h1 {
        font-size: 3.6vw;
        z-index: 0;
        text-align: center;
    }

/* Mobile devices */
@media (max-width: 480px) {
    .profile-sub-container {
        flex-wrap : wrap;
    }
    .profile-img {
        width: 50%;
        margin: 0;
    }

    .profile-info {
        max-width: 90%;
    }
        
        .profile-header img {
            width: 35%;
            top: 40%;
            left: 54.5%;
            z-index: 1;
        }

        .profile-info h1 {
            font-size: 8vw;
            text-align: center;
            margin-top: 2vh;
        }

    .profile-desc {
        font-size: 3vw;
        margin-top: 2vh;
    }

}

/* Tablets */
@media (min-width: 481px) and (max-width: 768px) {
    .profile-img {
        width: 21%;
    }

    .profile-info {
        max-width: 44%;
    }

    .profile-desc {
        font-size: 1.3vw;
        margin-top: 5vh;
    }
}

/* Small screens and laptops */
@media (min-width: 769px) and (max-width: 1024px) {
    .profile-img {
        width: 21%;
    }

    .profile-info {
        max-width: 44%;
    }

    .profile-desc {
        font-size: 1.3vw;
        margin-top: 5vh;
    }

}

/* Laptop L and extra large screen */
@media (min-width: 1025px) {
    .profile-img {
        width: 21%;
    }

    .profile-info {
        max-width: 44%;
    }

    .profile-desc {
        font-size: 1.3vw;
    }
}