

/* PROJECTS */
.projects-title {
    color: var(--brown);
    font-size: 5vw;
    text-align: center;
}

.projects-st-container {
    position: relative;
    text-align: center;
}

.projects-doodle {
    position: absolute;
    top: 95%;
    left: 50.5%;
    width: 5vw;
    z-index: 1;
}

.projects-st-container p {
    font-size: 1.5vw;
    z-index: 0;
}

.projects-result {
    max-height: 66%;
    width: 95%;
    margin: auto;
    margin-top: 0.5%;
    overflow-y: scroll;
}

.projects-info {
    font-family: Carlito, Tahoma;
    font-size: 0.7vw;
    font-style: italic;
    margin-top: 1%;
    margin-left: 1%;
}

/* Mobile devices */
@media (max-width: 480px) {
}

/* Tablets */
@media (min-width: 481px) and (max-width: 768px) {
}

/* Small screens and laptops */
@media (min-width: 769px) and (max-width: 1024px) {
    .projects-title {
        font-size: 4vw;
    }
    .projects-info {
        margin-top: 1.5%;
        font-size: 1vw;
    }
    .projects-result {
        max-height: 50%;
        width: 100%;
    }
}

/* Laptop L and extra large screen */
@media (min-width: 1025px) {
}